/Exercícios Aulas/Secção 15 - Trabalhando com Arquivos/ItensVendidos/nbproject/private/
/Exercícios Aulas/Secção 15 - Trabalhando com Arquivos/ItensVendidos/build/
/Exercícios Propostos pelo Professor/Lista1Mentoria/nbproject/private/
/Exercícios Propostos pelo Professor/Exq/nbproject/private/
/Exercícios Propostos pelo Professor/Ex1/nbproject/private/
/Exercícios Propostos pelo Professor/Ex1/build/
/Exercícios Propostos pelo Professor/Ex2/nbproject/private/
/Exercícios Propostos pelo Professor/Ex3/nbproject/private/
/Exercícios Propostos pelo Professor/Ex3/build/
/Exercícios Propostos pelo Professor/Ex4/nbproject/private/
/Exercícios Propostos pelo Professor/Ex4/build/
/Exercícios Propostos pelo Professor/Ex5/nbproject/private/
/Exercícios Propostos pelo Professor/Ex5/build/
/Exercícios Propostos pelo Professor/Ex6/nbproject/private/
/Exercícios Propostos pelo Professor/Ex6/build/
/Exercícios Propostos pelo Professor/Ex7/nbproject/private/
/Exercícios Propostos pelo Professor/Ex7/build/
/Exercícios Propostos pelo Professor/Lista 2/nbproject/private/
/Exercícios Propostos pelo Professor/Lista 2/build/
/Exercícios Propostos pelo Professor/Global_Bank/nbproject/private/
/Exercícios Propostos pelo Professor/Preco_Taxi/nbproject/private/
/Exercícios Propostos pelo Professor/Preco_Taxi/build/
/Exercícios Propostos pelo Professor/LogisticaExpress/nbproject/private/
/Exercícios Propostos pelo Professor/Set/nbproject/private/
/Exercícios Propostos pelo Professor/Map/nbproject/private/
/Exercícios Aulas/Secção 17 - Generics, Set e Maps/Map/nbproject/private/
/Exercícios Aulas/Secção 17 - Generics, Set e Maps/Map/build/
/Exercícios Propostos pelo Professor/Exceptions/nbproject/private/
/Exercícios Propostos pelo Professor/Exceptions/build/
/Exercícios Aulas/Secção 13 - Herança e Polimorfismo/Polimorfismo/nbproject/private/
/Exercícios Aulas/Secção 13 - Herança e Polimorfismo/AbstractsMethodsAndClasses/nbproject/private/
/Exercícios Aulas/Secção 12 - Enumerações e Composição/Composition/nbproject/private/
/Exercícios Aulas/Secção 12 - Enumerações e Composição/Matrix/nbproject/private/
/Exercícios Aulas/Secção 12 - Enumerações e Composição/List/nbproject/private/
/Exercícios Aulas/Secção 12 - Enumerações e Composição/Array1Negativos/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array2SomaVetor/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array1Negativos/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array3Alturas/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array4NumerosPares/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array5MaiorPosicao/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array6SomaVetores/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array7AbaixoDaMedia/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array8MediaPares/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array9MaisVelho/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array10Aprovados/nbproject/private/
/Exercícios Aulas/Secção 10 - Comportamento de Memória , Arrays e Listas/Array11DadosPessoas/nbproject/private/
